{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    Account number {{ account.id }}
{% endblock %}

{% block content %}
    <h1>This is display page of account number {{ account.id }}</h1>
{% endblock %}

